<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <table>
        <caption>Jobs With Skill: Ruby</caption>

            <th:block th:each = "Job : ${jobs}">
        <tr>
        <td th:text = "${job}"> </td>
        </tr>

        <tr>
            <th scope="row">ID:</th>
            <td th:text = ${Job.id}></td>
        </tr>

        <tr>
            <th scope="row">Name:</th>
            <td th:text = ${Job.name}></td>
        </tr>

        <tr>
            <th scope="row">Employer:</th>
            <td th:text = ${Job.employer}></td>
        </tr>

        <tr>
            <th scope="row">Location:</th>
            <td th:text = ${Job.location}></td>
        </tr>

        <tr>
            <th scope="row">Position Type:</th>
            <td th:text = ${Job.PositionType}></td>
        </tr>

        <tr>
            <th scope="row">Skill:</th>
            <td th:text = ${Job.coreCompetency}></td>
        </tr>
        </th:block>
    </table>



</div>

</body>
</html>